<div calss="container">
    <div class="filters">

        <form action="">
            <mat-form-field>
                <mat-label>Titulo...</mat-label>
                <mat-select [(value)]="selectedGame" (selectionChange)="setFilterGame($event)">
                  <mat-option *ngFor="let game of games" value={{game.id}}>
                      {{game.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                  <mat-label style="color:black">Cliente...</mat-label>
                  <mat-select [(value)]="selectedClient" (selectionChange)="setFilterClient($event)">
                      <mat-option *ngFor="let client of clients" value={{client.id}}>
                          <option>{{client.name}}</option>
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label style="color:black">Fecha...</mat-label>
                    <input style="color:black" matInput [matDatepicker]="picker" name="date" [(ngModel)]="filterDate" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
        </form>
    
        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">Limpiar</button> 
            <button mat-stroked-button (click)="onSearch()">Filtrar</button> 
        </div>   
    </div>
    
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="game">
            <mat-header-cell *matHeaderCellDef> Juego prestado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef> Nombre del cliente  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="prestamoDate">
            <mat-header-cell *matHeaderCellDef> Fecha de prestamo  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.loanDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="devDate">
            <mat-header-cell *matHeaderCellDef> Fescha de devolución </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.devDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent">
                    <mat-icon (click)="deleteLoan(element)">clear</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       
    </mat-table>

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createLoan()">Nuevo prestamo</button>
    </div>   
</div>